body{
    background-color: #202328;
    background-repeat: no-repeat;
    background-size:cover;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: lightblue;
}

.box-principal {
  text-align: center;
}

h1{
    font-family: 'Lobster', cursive; 
    color: white;
}

.card{
    margin: 20px;
    border-width: 10px;
    border-color: #53aa10;
    
}

.navbar-brand-titulo{
  font-family: 'Lobster', cursive;
  color: #202328;
  font-size: 30px;
}